<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>本棚</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&family=Dela+Gothic+One&family=Monomaniac+One&display=swap"
        rel="stylesheet">
    <!-- <Fieldset></Fieldset> -->

    <script>
        // プラスボタンがクリックされたときの処理
        function incrementCounter(bookId) {
            updateCounter(bookId, 1);
        }

        // マイナスボタンがクリックされたときの処理
        function decrementCounter(bookId) {
            var purchased = parseInt(document.getElementById('purchased_' + bookId).innerText);
            if (purchased > 0) {
                updateCounter(bookId, -1);
            }
        }

        // カウンター更新用の関数
        function updateCounter(bookId, change) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/update-counter/" + bookId + "?change=" + change, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        // 更新が成功したらページをリロードして更新を反映する
                        location.reload();
                    } else {
                        console.error("カウンターの更新に失敗しました");
                    }
                }
            };
            xhr.send();
        }

        //買いたい本リストに飛ぶためのコード
        //買いたい本のリストに飛びたい時にloginidを維持するためにsessionを使ってloginidを持ってきているから単純なurlでは飛ぶことができない
        document.addEventListener('DOMContentLoaded', function () {
            var kaitaiLink = document.getElementById('kaitaiLink');
            kaitaiLink.addEventListener('click', function (event) {
                event.preventDefault(); // デフォルトのリンク動作を無効にする
                var loginid = kaitaiLink.getAttribute('data-loginid'); // データ属性からloginidを取得
                window.location.href = '/kaitai/' + loginid; // リダイレクト
            });


        });

        //登録画面遷移
        document.addEventListener('DOMContentLoaded', function () {
            var register = document.getElementById('register');

            register.addEventListener('click', function (event) {
                event.preventDefault(); // デフォルトのリンク動作を無効にする

                var kaitaiLink = document.getElementById('kaitaiLink');
                var loginid = kaitaiLink.getAttribute('data-loginid'); // データ属性からloginidを取得

                window.location.href = '/register/' + loginid; // リダイレクト
            });


        });


    </script>
</head>

<body>
    <header class="header">
        <div class="headerContents">
            <div class="headerLeft">
                <div class="sitename">dokodoko</div>
                <div class="explanation">マンガを管理するアプリ</div>
            </div>
            <div class="addbutton">
                <!-- <a href="/register" class="choicebutton" data-loginid="<%= loginid %>">本の追加</a> -->
                <a id="register" class="choicebutton" href="#" data-loginid="<%= loginid %>">本の追加</a>
                <div class="buttonGap"></div> <!-- 隙間用のdiv -->
                <a id="kaitaiLink" href="#" data-loginid="<%= loginid %>" class="choicebutton"
                    data-loginid="<%= loginid %>">買いたい本リスト</a>
            </div>
        </div>
    </header>


    <ul class="nav">
        <li><a class="choice" href="#" data-loginid="<%= loginid %>">my list</a></li>
        <!-- <li><a href="/register" class="choice" data-loginid="<%= loginid %>">本の追加</a></li> -->
        <!-- <li><a id="kaitaiLink" href="#" data-loginid="<%= loginid %>" class="choice">買いたい本のリスト</a></li> -->
        <!-- <li><a href="/kaitairegister" class="choice" data-loginid="<%= loginid %>">買いたい本の追加</a></li> -->
    </ul>

    <table>
        <tr>
            <th>タイトル</th>
            <th>持ってる巻数</th>
        </tr>
        <% bookshelf.forEach(function (value) { %>
            <tr>
                <td>
                    <%= value.title %>
                </td>
                <td id="purchased_<%= value.id %>">
                    <%= value.purchased %>
                </td>
                <td>
                    <button class="plus" onclick="incrementCounter('<%= value.id %>')">+</button>
                    <button class="minus" onclick="decrementCounter('<%= value.id %>')">-</button>
                </td>
                <td>
                    <%= value.released %>
                </td>
                <td><a href="/delete/<%= value.id %>">削除</a></td>
            </tr>
            <% }); %>
    </table>
</body>

</html>